@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "ComicNeue";
    src: url("$fonts/ComicNeue-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "ComicNeue";
    src: url("$fonts/ComicNeue-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "ComicNeue";
    src: url("$fonts/ComicNeue-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "ComicNeue";
    src: url("$fonts/ComicNeue-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "ComicNeue";
    src: url("$fonts/ComicNeue-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@theme {
  --font-sans: "ComicNeue", "sans-serif";
}
